@charset "utf-8";
/* CSS Document */

ul.civieventlist {
	padding: 0 0 6px 0;
	font-size: 10px;
	line-height: 160%;
	list-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 0;
}

ul.civieventlist li {
	border-bottom: solid 1px #666666;
	padding: 6px 0;
}

ul.civieventlist a {
	font-size: 10px;
	font-weight: bold;
}

ul.civieventlist .eventdate {
	font-size: 9px;
	color: #999999;
}
